<header>
  <center>
    <h1>MGDrivE</h1>
    <p style="font-size:11px">Mosquitos + Tensors + Genetics + CS + Networks + Math + Coffee</p>
  </center>
  <hr>

  <ul><a href="https://github.com/MarshallLab/MGDrivE/releases/tag/v1.0">View <strong>Releases List</strong></a></ul>
  <ul><a href="https://marshalllab.github.io/MGDrivE/docs/index.html">Browse <strong>Documentation</strong></a></ul>
  <ul><a href="https://www.youtube.com/watch?v=sZXuUtToszw&list=PLRzY6w7pvIWqFJi94ZfhPkSVnazlUylpN">View on<strong>Youtube</strong></a></ul>
  <ul><a href="https://github.com/MarshallLab/MGDrivE">Fork on<strong>GitHub</strong></a></ul>
  <!--<ul><a href="https://github.com/Chipdelmal/MGDrivE/archive/v0.75-alpha.zip">Download <strong>ZIP File</strong></a></ul>-->
  <ul><a href="https://github.com/MarshallLab/MGDrivE/archive/v1.0.tar.gz">Download <strong>TAR Ball</strong></a></ul>

  <hr>
  <p style="font-size:10px">Developed in  <a href="http://www.marshalllab.com/">John Marshall's Lab</a> by:<br><br>
      <b>Lead:</b> <a href="https://chipdelmal.github.io/">Héctor M. Sánchez C.</a><br>
      <b>Core Dev:</b> <a href="https://slwu89.github.io/">Sean L. Wu</a>, Jared Bennett<br>
      <b>Spatial Analysis:</b> Biyonka Liang, Sarafina Smith, Sabrina Wong<br>
      <b>Movement Kernels:</b> Partow Imani<br><br>
  </p>
</header>
