<header>
  <center>
    <h1>MGDrivE</h1>
    <p>Mosquitos + Tensors + Genetics + CS + Networks + Math + Coffee</p>
  </center>
  <hr>
  <!--<p><i>Engage!</i></p>
  <hr>-->
  <!--<p><b>M</b>osquito <b>G</b>ene <b>Driv</b>e <b>E</b>xplorer</p>
  <p class="view"><a href="https://github.com/Chipdelmal/MGDrivE">View the Project on GitHub <small>chipdelmal/MGDrivE</small></a></p>-->

<!--
  <br>
  <img src="https://chipdelmal.github.io/MGDrivE/images/InheritanceCube3D.png">
  <br><br><br>
-->
  <ul><a href="https://github.com/Chipdelmal/MGDrivE/releases">View <strong>Releases List</strong></a></ul>
  <ul><a href="https://chipdelmal.github.io/MGDrivE/docs/index.html">Browse <strong>Documentation</strong></a></ul>
  <ul><a href="https://www.youtube.com/watch?v=sZXuUtToszw&list=PLRzY6w7pvIWqFJi94ZfhPkSVnazlUylpN">View on<strong>Youtube</strong></a></ul>
  <ul><a href="https://github.com/Chipdelmal/MGDrivE">Fork on<strong>GitHub</strong></a></ul>
  <ul><a href="https://github.com/Chipdelmal/MGDrivE/archive/v0.75-alpha.zip">Download <strong>ZIP File</strong></a></ul>
  <ul><a href="https://github.com/Chipdelmal/MGDrivE/archive/v0.75-alpha.tar.gz">Download <strong>TAR Ball</strong></a></ul>

  <hr>
  <p style="font-size:10px">Developed in  <a href="http://www.marshalllab.com/">John Marshall's Lab</a> by:<br><br>
      Lead:
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://chipdelmal.github.io/">Héctor M. Sánchez C.</a><br>
      Core Dev:
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://slwu89.github.io/">Sean L. Wu</a>
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jared Bennett<br>
      Spatial Analysis:
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Biyonka Liang
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sarafina Smith
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sabrina Wong<br>
      Movement Kernels:
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partow Imani<br>
  </p>
</header>
